.custom-switch-input:checked ~ .custom-switch-indicator {
    background: #6777ef;
}
 #mobile-preview{
        height: 700px;
        padding: 10px;
    background: url(../assets/app-assets/app-frame.png) top no-repeat;
}
.custom-switch-input:checked ~ .custom-switch-indicator:before {
    left: calc(1rem + 1px);
}

.custom-switch-indicator:before {
    content: '';
    position: absolute;
    height: calc(1.25rem - 4px);
    width: calc(1.25rem - 4px);
    top: 1px;
    left: 1px;
    background: #fff;
    border-radius: 50%;
    transition: .3s left;
}
.custom-switch-indicator {
        cursor: pointer;
    display: inline-block;
    height: 1.25rem;
    width: 2.25rem;
    background: #e9ecef;
    border-radius: 50px;
    position: relative;
    vertical-align: bottom;
    border: 1px solid rgba(0, 40, 100, 0.12);
    transition: .3s border-color, .3s background-color;
}
.custom-switch-description {
    margin-left: .5rem;
    color: #6e7687;
    transition: .3s color;
}
.red {
    color: #fb160a !important;
}
.custom-switch-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form-group .control-label, .form-group > label {
    font-weight: 600;
    color: #34395e;
    font-size: 12px;
    letter-spacing: .5px;
}
.email-application .app-content .content-area-wrapper .email-user-list {
    overflow: auto;
}