html body.rtl-layout {
    height: 100%;
    background-color: #F8F8F8;
    direction: rtl;
}
html body.rtl-layout .content {
    padding: 0;
    position: relative;
    transition: 300ms ease all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: calc(100% - 3.35rem);
    margin-right: 260px;
}
html body.rtl-layout .content. div {
    position: relative;
    transition: 300ms ease all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: calc(100% - 3.35rem);
    margin-right: 260px;
}