.swal2-title{font-size:2rem;}
.swal2-html-container{font-size:1.3rem;}
.swal2-container{z-index:99999999;}
.n_modal{
    max-width: 78rem;
    padding:4.8rem 4.8rem;
    margin: auto;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 38px;
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 38px;
    margin: 0;
    overflow: hidden;
    opacity: 0;
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: #5A8DEE;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.custom-file-input[disabled] ~ .custom-file-label,
.custom-file-input:disabled ~ .custom-file-label {
    background-color: #F2F4F4;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse";
}

.custom-file-input ~ .custom-file-label[data-browse]::after {
    content: attr(data-browse);
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 38px;
    padding: 0.65rem 0.8rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.4;
    color: #475F7B;
    background-color: #FFFFFF;
    border: 1px solid #DFE3E7;
    border-radius: 0.267rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;

    padding: 0.65rem 0.8rem;
    line-height: 1.4;
    color: #475F7B;
    content: "Browse";
    background-color: #f0f4f7;
    border-left: inherit;
    border-radius: 0 0.267rem 0.267rem 0;
}

.page-wrapper{
    min-height: 100vh!important;
}

.size .form-checkbox label{
    flex: none!important;
}

html.rtl_on .mobile-menu-container{
    transform: translateX(296px)!important;
}

html.rtl_on .menu>li:last-child{
    margin-right: 3rem;
}

html.rtl_on .tab-nav-underline .nav-item:is(:last-child) {
    margin-right: 3rem;
}

html.rtl_on .input-group .form-control{
    text-align: left;
}

html.rtl_on .mmenu-active .mobile-menu-container {
    transform: translateX(0)!important;
}

html.rtl_on .header-right{
    margin-left: 0;
    margin-right: auto;
}

html.rtl_on .header-top .header-right>*{
    margin-left: 0;
}

html.rtl_on .rtl_margin_left{
    margin-left: 3rem;
}

footer{
    margin-top:100px;
}

html.rtl_on .mmenu-active .page-wrapper {
    margin-left: -296px;
    margin-right: 296px;
}

.mobile-menu li a,
.header-bottom .menu a{
    direction: ltr;
}

html.rtl_on .product-gallery .owl-stage-outer{
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0,0,0);
    direction: ltr;
}

html.rtl_on .header-top .header-right i {
    margin-left: .6rem;
}

#login_form_modal_view {
    max-width: 50rem;
}

#delete_address{
    float:right;
}

html.rtl_on #delete_address{
    float:left;
}

.product-price {text-transform: uppercase!important;}
